pkgbase = fprintd-custom-prompt
	pkgdesc = CLI to set a custom pam_fprintd authentication prompt
	pkgver = 2.0.0
	pkgrel = 1
	url = https://github.com/Walentalien/fprintd-en-us-prompt-override
	install = fprintd-custom-prompt.install
	arch = any
	license = CC0-1.0
	depends = fprintd
	depends = gettext
	depends = python
	provides = fprintd-en-us-prompt-override
	conflicts = fprintd-en-us-prompt-override
	replaces = fprintd-en-us-prompt-override
	source = fprintd_prompt.py
	sha256sums = a4b4ba2ee29cf06c0a07194f1babd527d93387e18a056cf76bf321b14b417e6b

pkgname = fprintd-custom-prompt
